<div class="main">
  <form [formGroup]="form" class="log-cont" (ngSubmit)="onSubmit()">
    <div class="label">App Registration</div>
    <ion-input name="product_id" formControlName="product_id" placeholder="Product ID"></ion-input>
    <ion-input name="password" formControlName="password" type="password" placeholder="Password"></ion-input>
    <ion-checkbox style="margin: 5px 0px;">Remember Product ID</ion-checkbox>

    <div *ngIf="errMessage" class="alert"> {{ errMessage }} </div>

    <button type="submit">Login</button>
  </form>
</div>
