.main {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(110, 78, 61);
}

.log-cont {
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  outline: 1px solid #00000060;
  outline-offset: -6px;
  background-color: #ffd3af82;
  position: absolute;
  // backdrop-filter: blur(5px);
}

ion-input {
  width: 80%;
  height: 1.8em;
  margin: 2%;
  font-size: 1em;
  color: white;
  --ion-color-success: #00000086;
  background-color: rgba(255, 255, 255, 0.086);
  border-radius: 20px;
  padding: 0px 15px !important;
  text-align: center;
}


button {
  padding: 10px 10px;
  background-color: rgb(77, 67, 55);
  border-radius: 15px;
  margin-top: 10px;
}

.label{
  margin-bottom: 10px;
}